:root {
  --gradient: linear-gradient(
      #303b5a 90%
      #7857ff,
      #2e2be9 80%
  );
}

.light-font {
  color: #ffffff;
}

.red {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.yellow {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.green {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.blue {
  background-color: hsla(234, 85%, 45%, 0.1);
}

@font-face {
  font-family: HankenGrotesk;
  src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
:root {
  --font-size: 18px;
}

.opaque-50 {
  opacity: 50%;
}

.opaque-70 {
  opacity: 70%;
}

.num-text-1 {
  color: #303b5a;
  font-weight: 700;
}

.num-text-2 {
  color: #303b5a;
  opacity: 70%;
}

.result {
  font-size: 20px;
}

.item {
  width: 17.1875rem;
  height: 1.125rem;
  border-radius: 0.625rem;
  padding: 20px;
  margin: 7.5px 0;
}
.item--summary {
  margin-top: -75px;
  min-width: 275px;
  padding-right: 30px;
}
.item--summary h2 {
  font-size: 25px;
}
@media (min-width: 43.75rem) {
  .item--summary {
    margin-top: 0;
  }
}
.item--grid {
  display: grid;
  grid-template-columns: 0.25fr 2fr 1fr;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  grid-auto-rows: 1.25rem;
  align-content: center;
}
.item--reaction {
  color: #ff5757;
  font-weight: 700;
}
.item--memory {
  color: #ffb01f;
  font-weight: 700;
}
.item--verbal {
  color: #00bd91;
  font-weight: 700;
}
.item--visual {
  color: #1125d4;
  font-weight: 700;
}
.item--percentage {
  display: flex;
  justify-content: space-between;
}

button {
  --gradient: linear-gradient(to right, #303b5a, #2e2be9);
  width: 19.6875rem;
  height: 3.4375rem;
  background-image: var(--gradient);
  border-radius: 1.875rem;
  text-align: center;
  border: 0;
  font-family: inherit;
  margin: 16.5px 0 30px;
  background-size: 999%;
  background-position: left;
  transition: background-position 1s ease-in-out;
}
button p {
  font-family: inherit;
}
@media (min-width: 43.75rem) {
  button {
    margin: 22.5px 0 20px;
  }
}
button:hover {
  background-position: right;
}

html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: HankenGrotesk;
}

p {
  margin: 0;
  font-size: var(--font-size);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 43.75rem) {
  .container {
    margin-top: 35px;
    height: 455px;
    margin-left: 60px;
  }
}

.header {
  background-image: linear-gradient(#7857ff, #2e2be9);
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  height: 360px;
  padding: 50px 30px 45px;
  justify-content: flex-end;
  position: relative;
  top: -100px;
  border-radius: 30px;
}
.header h2 {
  font-size: 20px;
  margin-bottom: 5px;
}
@media (min-width: 43.75rem) {
  .header {
    top: 0;
    max-width: 370px;
    padding: 45px 60px 60px;
    gap: 20px;
    height: 410px;
    right: -60px;
  }
}

.circle {
  border-radius: 50%;
  background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  width: 140px;
  height: 140px;
  text-align: center;
  margin: 25px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.circle h1 {
  font-size: 45px;
}
@media (min-width: 43.75rem) {
  .circle h1 {
    font-size: 55px;
  }
}
@media (min-width: 43.75rem) {
  .circle {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 43.75rem) {
  body {
    display: grid;
    grid-template-columns: 370px 394px;
    height: 750px;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
  }
}

@media (min-width: 43.75rem) {
  .aside {
    height: 515px;
    width: 455px;
    background-color: #ffffff;
    box-shadow: 10px 10px 10px #ebf1ff;
    border-radius: 30px;
  }
}/*# sourceMappingURL=style.css.map */