// Primary

$Light_red: #ff5757;
$Orangey_yellow: #ffb01f;
$Green_teal: #00bd91;
$Cobalt_blue: #1125d4;

// Gradients

$Light_slate_blue: #7857ff; //(background)
$Light_royal_blue: #2e2be9; //(background)

$Violet_blue : hsla(256, 72%, 46%, 1); // (circle)
$Persian_blue : hsla(241, 72%, 46%, 0); // (circle)


:root {
    --gradient: linear-gradient(
        #303b5a 90%
        #7857ff, 
        #2e2be9 80%
    );
}

// Neutral

$White: #ffffff;
$Pale_blue: #ebf1ff;
$Light_lavender: #c8c7ff;
$Dark_gray_blue: #303b5a;

.light-font {
    color: $White;
}

.red {
    background-color: hsla(0, 100%, 67%, 10%);
}
.yellow {
    background-color: hsla(39, 100%, 56%, 10%);
}
.green {
    background-color: hsla(166, 100%, 37%, 10%);
}
.blue {
    background-color: hsla(234, 85%, 45%, 10%);
}